[preset.0]
name="Android-APK-Debug"
platform="Android"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/android/pokegatchi-debug.apk"
encrypt_pck=false
encrypt_directory=false
script_export_mode=1

[preset.0.options]
custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=false
architectures/armeabi-v7a=true
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
package/unique_name="com.pokegatchi.sample"
package/name="Pokegatchi"
package/signed=true
package/app_category=2
version/code=1
version/name="0.1.0"

# NOTE:
# - This is a starter preset for mobile readiness.
# - Final release signing and store metadata should be configured on your desktop Godot setup.
